<h1>My Favorite Disney Movies!</h1>

<a href="/movies/new">Add a Movie</a>

<ul class="movies">
  {{#each movies }}
    <li>{{ this.title }}, {{ this.releaseYear }}, {{ this.runtime }}</li>
  {{/each }}
</ul>
